<header>
    <h1 id="title">
        <a href="/">{{site.title}}</a>
        —A Metasystem Experiment
    </h1>
    <p id=quote><mark><em>It gets easier. Every day it gets a little easier. But you gotta do it every day, that’s the hard
        part. But it does get easier.</mark> <br>—Bojack Horseman</em>

    <hr />
    <nav id="navigation">
        <a href="/">Home</a> /
        {% for page in site.pages %}
        <a href="{{ page.url }}">{{page.title}}</a> /
        {% endfor %}
        <a href="https://wandernotebook.com/">Blog</a> /
        <a href="http://beeminder.com/brennanbrown">Goals</a> /
        <a href="https://wiki.beeminder.com/">Wiki</a> /
        <a href="/feed.xml">RSS</a>
    </nav>
    <hr />
</header>
