<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://dohliam.github.io/dropin-minimal-css/min/writ.min.css" rel="stylesheet">
    <link href="/assets/main.css" rel="stylesheet">
    <link href="/assets/code.css" rel="stylesheet">
    {%- seo -%}
    {%- feed_meta -%}
    {%- if site.google_analytics -%}
        {%- include google_analytics.html -%}
    {%- endif -%}
</head>