<p class="site-intro">Hi, I'm Brennan! I created this website to provide weekly updates regarding my goals (systems)
    that I currently have on a website called <a href="http://beeminder.com/">Beeminder</a> as a way to keep myself
    accountable, as well as a place for general draft writing. For more information on the theory behind this idea,
    please check out the following links where I have written extensively about this:
    <strong>
        <a href=https://blog.beeminder.com/tao/>1</a>, <a href="https://blog.beeminder.com/tao2/">2</a>,
        <a href="https://blog.brennanbrown.ca/goal-failure-bc3a39a0f418">3</a>,
        <a href="https://blog.brennanbrown.ca/5-good-goals-ideas-and-why-86caddb33e70">4</a>,
        <a href="https://www.linkedin.com/pulse/tracking-every-aspect-my-life-year-brennan-kenneth-brown">5</a>.
    </strong>
</p>