body {
    font-size: 1.5rem !important;
}

h1 {
    font-size: 2.5rem !important;
}

h1,
figcaption,
#description,
#navigation,
#author h3,
#quote {
    text-align: center;
}

h2 {
    font-size: 2rem !important;
    margin-bottom: 0px;
}

mark {
    background-color: #fcffb3;
}

code {
    background-color: #ddd;
    padding: 0px 2px;
}

footer code {
    background-color: hsl(210, 20%, 98%);
}

a:hover {
    color: #f06059
}

#title a {
    color: #eee;
    background-color: #333;
    text-decoration: none;
    padding: 0px 4px;
}

#title a:hover {
    background-color: #555;
    color: #fcffb3;
}

#navigation a {
    font-weight: bold;
}

#pages {
    text-align: center;
    margin-top: 20px;
}

#current-page {
    padding: 0px 15px;
}

/* ACCESSIBILITY */
a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
    color: #fff;
    background-color: #000;
    left: auto;
    top: auto;
    width: 30%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 5px;
    border-radius: 15px;
    border: 4px solid yellow;
    text-align: center;
    font-size: 1.2em;
    z-index: 999;
}